@import 'https://fonts.googleapis.com/css?family=Open+Sans';


body{
	background-color: rgba(116,165,83,0.5);
	font-family: Georgia, serif;
	padding:0 0 0 0;
	margin: 0 0 0 0 ;
}

.logo{
	background-color: rgba(230,217,108,0.83);
	margin-left: 450px; 
	margin-top: 200px;
	margin-bottom: 200px;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	border-color: white;
	
  
  
}


h1{
	padding-left: 0px;
	color: black;
	text-align: center;
	padding-top: 90px;
	font-family: Palatino, serif;
	font-variant: small-caps;
	font-weight: 800;
	font-style: italic;
	font-size: 40px;
	
	
	
}
.parent{
	justify-content: center;
	display: inline-flex;

	

	}

.menu {
  
  justify-content: center;
 
  width:98px;
  height: 700px;
  display: block;
  padding-left: 1 0px;
  color: white;
 
    background-color:rgba(230,217,108,0.83);
    
 

 }
.butt{
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 65px;
	text-align: center;
	margin-left:0; 
	
	background-color:  black;
	 display: block;
	 width: 120px;
	 height: 90px;
	  color:  white;
	 font-family: cursive;
	 margin-right: 0;
	 text-shadow: 1px 1px 1px ;

}

a {text-decoration: none; }

a.butt:hover {
     color:#000000;
     
      box-shadow:0px 1px  yellow;
  }
  

  @keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse:hover {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.menu:hover .butt{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
.menu .butt, .menu:hover .butt {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

