@import 'https://fonts.googleapis.com/css?family=Open+Sans';


body{
	background-color: rgba(116,165,83,0.5);
	font-family: Georgia, serif;
	padding:0 0 0 0;
	margin: 0 0 0 0 ;
}

.logo{
	background-color: #52938b;
	margin-left: 450px; 
	margin-top: 200px;
	margin-bottom: 200px;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	border-color: white;
	box-shadow: 5px 5px 2px  #afd194;

}

h1{
	padding-left: 0px;
	color: white;
	text-align: center;
	padding-top: 80px;
	font-family: Palatino, serif;
	font-variant: small-caps;
	font-weight: 800;
	font-style: italic;
	font-size: 40px;
	text-shadow: 8px 8px 8px green;
	
	
}
.parent{
	justify-content: center;
	display: inline-flex;
	

	}

.menu {
  
  justify-content: center;
  background-color: black;
  width:98px;
  height: 700px;
  display: block;
  padding-left: 40px;
  color: white;
  	background-color: #fff;
    background-color: rgba(116,165,83,0.5);
    
 

 }
.butt{
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 65px;
	text-align: center;
	border-radius: 45px;
	border-width: 5px;
	border-color: #1ee8f4;
	background-color:  #52938b;
	 display: block;
	 width: 90px;
	 height: 90px;
	 box-shadow: 5px 8px  #afd194;
	 color:  white;
	 font-family: cursive;
	 margin-right: 0;
	 text-shadow: 8px 8px 8px green;

}

a {text-decoration: none; }

a.butt:hover {
     color:#000000;
     
      box-shadow:0px 3px  green;
  }

  @keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse:hover {
	animation-name: pulse_animation;
	animation-duration: 900ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


